$color-grey: #918f9a;
$color-grey-light: #d8d8d8;
$color-grey-dark: #353738;

$color-brown: #B28451;

$color-white: #f7f7f7;
$color-black: #111;

$color-red: #bd081c;

$color-blue: #55acee;
$color-blue-dark: #282f35;
$color-blue-darker: #3b5999;
